# === Backend ===
JWT_SECRET=change_me_in_production_use_64_random_chars
JWT_EXPIRES_IN=8h

# === MongoDB ===
MONGO_ROOT_USERNAME=greenit_admin
MONGO_ROOT_PASSWORD=change_me_strong_password_here
MONGO_URI=mongodb://greenit_admin:change_me_strong_password_here@mongodb:27017/greenit?authSource=admin

FRONTEND_URL=http://localhost:3005

# === Frontend ===
NEXT_PUBLIC_API_URL=http://localhost:3006
PORT=3005

# === Prod (VPS OVH) ===
# NEXT_PUBLIC_API_URL=https://yourdomain.com/api
# DOMAIN=yourdomain.com
