# === Backend ===
JWT_SECRET=change_me_in_production_use_64_random_chars
JWT_EXPIRES_IN=8h
MONGO_URI=mongodb://mongodb:27017/greenit
FRONTEND_URL=http://localhost:3005

# === Frontend ===
NEXT_PUBLIC_API_URL=http://localhost:3006
PORT=3005

# === Prod (VPS OVH) ===
# NEXT_PUBLIC_API_URL=https://yourdomain.com/api
# DOMAIN=yourdomain.com
